<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Zyxlz</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>QueryDcListServlet</display-name>
    <servlet-name>QueryDcListServlet</servlet-name>
    <servlet-class>cn.zyxlz.wechat.servlet.QueryDcListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryDcListServlet</servlet-name>
    <url-pattern>/QueryDcList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryArticleListServlet</display-name>
    <servlet-name>QueryArticleListServlet</servlet-name>
    <servlet-class>cn.zyxlz.wechat.servlet.QueryArticleListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryArticleListServlet</servlet-name>
    <url-pattern>/QueryArticleList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostInfoServlet</display-name>
    <servlet-name>PostInfoServlet</servlet-name>
    <servlet-class>cn.zyxlz.wechat.servlet.PostInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostInfoServlet</servlet-name>
    <url-pattern>/postinfo</url-pattern>
  </servlet-mapping>
  <filter>
    <description></description>
    <display-name>encodeFilter</display-name>
    <filter-name>encodeFilter</filter-name>
    <filter-class>cn.zyxlz.wechat.servlet.filter.GenericEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>HospitalListServlet</display-name>
    <servlet-name>HospitalListServlet</servlet-name>
    <servlet-class>cn.zyxlz.wechat.servlet.HospitalListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HospitalListServlet</servlet-name>
    <url-pattern>/hospitallist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryOrganizationDoctor</display-name>
    <servlet-name>QueryOrganizationDoctor</servlet-name>
    <servlet-class>cn.zyxlz.wechat.servlet.QueryOrganizationDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryOrganizationDoctor</servlet-name>
    <url-pattern>/QueryOrganizationDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryOrganizationDoctorServlet</display-name>
    <servlet-name>QueryOrganizationDoctorServlet</servlet-name>
    <servlet-class>cn.zyxlz.wechat.servlet.QueryOrganizationDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryOrganizationDoctorServlet</servlet-name>
    <url-pattern>/organizationdoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PeopleUploadServlet</display-name>
    <servlet-name>PeopleUploadServlet</servlet-name>
    <servlet-class>cn.zyxlz.wechat.servlet.PeopleUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PeopleUploadServlet</servlet-name>
    <url-pattern>/peopleupload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchDoctorServlet</display-name>
    <servlet-name>SearchDoctorServlet</servlet-name>
    <servlet-class>cn.zyxlz.wechat.servlet.SearchDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchDoctorServlet</servlet-name>
    <url-pattern>/searchdoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.zyxlz.wechat.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>cn.zyxlz.wechat.listener.AutoRun</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>DoctorLoginServlet</display-name>
    <servlet-name>DoctorLoginServlet</servlet-name>
    <servlet-class>cn.zyxlz.wechat.servlet.DoctorLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorLoginServlet</servlet-name>
    <url-pattern>/doctorlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PeopleLoginServlet</display-name>
    <servlet-name>PeopleLoginServlet</servlet-name>
    <servlet-class>cn.zyxlz.wechat.servlet.PeopleLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PeopleLoginServlet</servlet-name>
    <url-pattern>/peoplelogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getToken</display-name>
    <servlet-name>getToken</servlet-name>
    <servlet-class>cn.zyxlz.wechat.servlet.getToken</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getToken</servlet-name>
    <url-pattern>/gettoken</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OfflineMessageServlet</display-name>
    <servlet-name>OfflineMessageServlet</servlet-name>
    <servlet-class>cn.zyxlz.wechat.servlet.OfflineMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OfflineMessageServlet</servlet-name>
    <url-pattern>/offlinemessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>wechatCheckServlet</display-name>
    <servlet-name>wechatCheckServlet</servlet-name>
    <servlet-class>cn.zyxlz.wechat.servlet.wechat.wechatCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wechatCheckServlet</servlet-name>
    <url-pattern>/wechatcheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestMessage</display-name>
    <servlet-name>TestMessage</servlet-name>
    <servlet-class>cn.zyxlz.wechat.servlet.message.TestMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestMessage</servlet-name>
    <url-pattern>/testmessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FocusDoctor</display-name>
    <servlet-name>FocusDoctor</servlet-name>
    <servlet-class>cn.zyxlz.wechat.servlet.FocusDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FocusDoctor</servlet-name>
    <url-pattern>/focusdoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsFocused</display-name>
    <servlet-name>IsFocused</servlet-name>
    <servlet-class>cn.zyxlz.wechat.servlet.IsFocused</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsFocused</servlet-name>
    <url-pattern>/isfocused</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostDoctorinfoServlet</display-name>
    <servlet-name>PostDoctorinfoServlet</servlet-name>
    <servlet-class>cn.zyxlz.wechat.servlet.PostDoctorinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostDoctorinfoServlet</servlet-name>
    <url-pattern>/postdoctorinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostPeopleInfoServlet</display-name>
    <servlet-name>PostPeopleInfoServlet</servlet-name>
    <servlet-class>cn.zyxlz.wechat.servlet.PostPeopleInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostPeopleInfoServlet</servlet-name>
    <url-pattern>/postpeopleinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryMyDoctorServlet</display-name>
    <servlet-name>QueryMyDoctorServlet</servlet-name>
    <servlet-class>cn.zyxlz.wechat.servlet.QueryMyDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryMyDoctorServlet</servlet-name>
    <url-pattern>/querymydoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryPeopleInfoServlet</display-name>
    <servlet-name>QueryPeopleInfoServlet</servlet-name>
    <servlet-class>cn.zyxlz.wechat.servlet.QueryPeopleInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryPeopleInfoServlet</servlet-name>
    <url-pattern>/querypeopleinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryPeopleCaseServlet</display-name>
    <servlet-name>QueryPeopleCaseServlet</servlet-name>
    <servlet-class>cn.zyxlz.wechat.servlet.QueryPeopleCaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryPeopleCaseServlet</servlet-name>
    <url-pattern>/querypeoplecase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CollectArticleServlet</display-name>
    <servlet-name>CollectArticleServlet</servlet-name>
    <servlet-class>cn.zyxlz.wechat.servlet.CollectArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollectArticleServlet</servlet-name>
    <url-pattern>/collectarticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryPeopleCollectionServlet</display-name>
    <servlet-name>QueryPeopleCollectionServlet</servlet-name>
    <servlet-class>cn.zyxlz.wechat.servlet.QueryPeopleCollectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryPeopleCollectionServlet</servlet-name>
    <url-pattern>/querypeoplecollection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsCollectedServlet</display-name>
    <servlet-name>IsCollectedServlet</servlet-name>
    <servlet-class>cn.zyxlz.wechat.servlet.IsCollected</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsCollectedServlet</servlet-name>
    <url-pattern>/iscollected</url-pattern>
  </servlet-mapping>
</web-app>